anyio
certifi
charset-normalizer
click
Flask
h11
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
Pillow
protobuf
pyparsing
requests==2.31.0
scipy
sniffio
Together
tomli
tqdm
urllib3
Werkzeug
zipp
beautifulsoup4==4.12.3
gunicorn
